<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments Management</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <a href="/" style="text-decoration: none; color: #ffffff;"><h1>Payments Management</h1></a>
    </header>
    <main>
        <div class="container-center">
            <div class="dashboard">
                <section class="left-sec">
                    <div>{{ infoTable | safe }}</div>
                    <img src="data:image/png;base64,{{ graphBarH }}" alt="Gráfico BarraH" class="matplot-img-dash-left">
                </section>
                <section class="middle">
                    <img src="data:image/png;base64,{{ graphLine }}" alt="Gráfico Linha" class="matplot-img-dash-middle">
                </section>
                <section class="right-sec">
                    <img src="data:image/png;base64,{{ graphPie }}" alt="Gráfico Pie" class="matplot-img-dash">
                </section>
            </div>
        </div>
        
    </main>
</body>
</html>