<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments Management</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <a href="/" style="text-decoration: none; color: #ffffff;"><h1>Payments Management</h1></a>
    </header>
    <main>
        <div class="container-center">
            <img src="data:image/png;base64,{{ graphLine }}" alt="Gráfico Linha" class="matplot-img">
            <img src="data:image/png;base64,{{ graphBarH }}" alt="Gráfico BarraH" class="matplot-img">
            <img src="data:image/png;base64,{{ graphPie }}" alt="Gráfico Pie" class="matplot-img">
        </div>
        
    </main>
</body>
</html>